<% if (installations.length > 0) { %>
  <div class="list-group config_list">
    <% installations.forEach((installation) => { %>
      <a href="/installation/<%= installation.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
        <b class="mb-1"><%= installation.name %></b>
        <small class="mb-1 d-block">Talk v<%= installation.talk_version %> - <%= installation.root_url %></small>
        <small>Added by <i><%= installation.added_by.name %></i> on <i><%= installation.created_at.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %></i></small>
      </a>
    <% }) %>
  </div>
<% } else { %>
<div class="alert alert-info" role="alert">
  <strong>Looks like you don't have any installations</strong>, create one by clicking below to start the flow of your comments into Slack.
</div>
<% } %>
<a class="btn btn-lg btn-outline-secondary btn-block mt-3" href="/installation">Add Installation</a>