<% include partials/header %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/configurations">Configurations</a></li>
  <li class="breadcrumb-item active">Add Configuration</li>
</ol>
<header>
  <h2>Add Configuration</h2>
</header>
<article class="mt-5">
  <p>This will create a new configuration that will funnel comments from your Talk installation to a slack channel of your choosing. You'll be able to select the channel at the next step during the Slack authorization step.</p>
   <% if (installations.length === 0) { %>
    <div class="alert alert-info" role="alert">
      Looks like you don't have any available installations, <a href="/installation" class="alert-link">create one</a>.
    </div>
  <% } else { %>
    <% if (!user.access_token || user.access_token.length === 0) { %>
      <div class="alert alert-danger" role="alert">
        Looks like you haven't authorized us to post to your public channels, without permission we
        can't post comments to your channels. <a href="/user/authorize" class="alert-link">Authorize now</a>.
      </div>
    <% } else { %>
      <form id="add_configuration" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
            <label for="installation">Comment Source</label>
            <select class="form-control" name="installation_id" id="installation" value="<%= installation_id %>" autocomplete="off">
              <% installations.forEach((installation) => { %>
                <option value="<%= installation.id %>"<% if (installation.id === installation_id) { %> selected="selected"<%} %>><%= installation.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="channel_id">Slack Channel</label>
            <select class="form-control" name="channel_id" id="channel_id" value="" autocomplete="off">
              <% channels.forEach((channel) => { %>
                <option value="<%= channel.id %>">#<%= channel.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="type">Queue Type</label>
            <select class="form-control" name="type" id="type" value="" autocomplete="off" aria-describedby="typeHelp" >
              <option value="NEW">All new comments</option>
              <option value="REPORTED">Only reported comments</option>
              <option value="PREMOD">Only premod comments</option>
            </select>
            <small id="typeHelp" class="form-text text-muted">Filter what kind of comments you want to flow into a channel.</small>
          </div>
        <button type="submit" class="btn btn-secondary">Create</button>
      </form>
    <% } %>
  <% } %>
</article>

<% include partials/footer %>