<% include partials/header %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/installations">Installations</a></li>
  <li class="breadcrumb-item active">Edit Installation</li>
</ol>
<header>
  <div class="btn-group float-right" role="group" id="edit_installation_buttons" data-id="<%= installation.id %>">
    <% if (installation.disabled) { %>
      <button type="button" class="btn btn-light" data-action="enable">Enable</button>
    <% } else { %>
      <button type="button" class="btn btn-light" data-action="disable">Disable</button>
    <% } %>
    <% if (configurations.length > 0) { %>
      <button type="button" class="btn btn-light" data-action="delete-disabled">Delete</button>
    <% } else { %>
      <button type="button" class="btn btn-light" data-action="delete">Delete</button>
    <% } %>
  </div>
  <h2 class="d-inline-block">Edit Installation</h2>
  <small class="d-block">Added by <i><%= installation.added_by.name %></i> on <i><%= installation.created_at.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %></i></small>
</header>
<article class="mt-5">
  <% if (installation_token) { %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Last step!</h4>
      <p>The following token token will not be generated again, make sure you add it to your application via the environment:</p>
      <pre><code>TALK_SLACK_BOUNCER_AUTH_TOKEN=<%= installation_token %></code></pre>
      <p class="mb-0">This will require you to redeploy your application again to take affect.</p>
    </div>
  <% } %>
  <% if (installation.disabled) { %>
    <div class="alert alert-info" role="alert">
      <strong>This installation is disabled.</strong> It will not forwared messages to the linked configurations or process moderation actions from Slack until reenabled.
    </div>
  <% } %>
  <form class="mb-5" method="post" id="edit_installation">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="id" value="<%= installation.id %>">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="<%= installation.name %>" required>
    </div>
    <div class="form-group">
      <label for="root_url">Root URL</label>
      <input type="text" class="form-control" name="root_url" value="<%= installation.root_url %>" required>
    </div>
    <div class="form-group">
      <label for="access_token">Access Token</label>
      <input type="password" class="form-control" id="access_token" placeholder="encrypted">
    </div>
    <div class="form-group">
      <label for="version">Version</label>
      <input type="text" class="form-control" id="version" disabled placeholder="<%= installation.talk_version %>" aria-describedby="versionHelp">
      <small id="versionHelp" class="form-text text-muted">To update the version, simply click update below and we'll re-read the version details from your installation.</small>
    </div>
    <div class="form-group">
      <label for="handshake_token">Confirm Handshake Token</label>
      <input type="password" class="form-control" name="handshake_token" placeholder="" aria-describedby="handshakeTokenHelp" required>
      <small id="handshakeTokenHelp" class="form-text text-muted">We need the handshake token to validate that you have administrative access to your installation <i>(and to potentially re-encrypt the access token)</i>.</small>
    </div>
    <button type="submit" class="btn btn-secondary">Test Configuration</button>
    <small id="verification_status"></small>
  </form>

  <h3>Linked Configurations</h3>
  <p>You currently have <%= configurations.length %> linked <%= pluralize('configuration', configurations.length) %>.</p>
  <% include components/configurations.ejs %>
</article>

<% include partials/footer %>